include ../../mixins/product-card

section.catalog-section
  .lw-container
    h2.lw-section-title Букет дня

    .swiper-container
      .swiper.catalog-top-swiper(data-count="3" data-offset="20")
        .swiper-wrapper
          .swiper-slide
            +product-card({
              img: 'buket_1.png',
              imgW: '560',
              imgH: '640',
              title: 'Название букета',
              price: '5 000'
            })
          .swiper-slide
            +product-card({
              img: 'buket_2.png',
              imgW: '560',
              imgH: '640',
              title: 'Название букета длинно или очень длинное название букета',
              price: '640'
            })
          .swiper-slide
            +product-card({
              img: 'buket_1.png',
              imgW: '560',
              imgH: '640',
              title: 'Название букета длинно или очень',
              price: '14 000'
            })
          .swiper-slide
            +product-card({
              img: 'buket_2.png',
              imgW: '560',
              imgH: '640',
              title: 'Название',
              price: '135 000'
            })

