include ../../mixins/offer-section

+offer-section({
  title: 'Цветы оптом',
  cls: 'offer-section--rtl',

  description: [
    'Оптовые поставки цветов Москве и в регионы России. Прямые контракты с зарубежными поставщиками позволяют поддерживать широкий ассортимент, гарантировать свежесть и низкие цены для розничных цветочных магазинов и бутиков.',
  ],

  offerBtn: {
    type: 'button',
    text: 'Заказать',
    icon: 'delivery-icon.svg'
  },

  gallery: {
    mainImg: 'offer-section-ltr-main-img.png',
    topSideImg: 'offer-section-ltr-top-side-img.png',
    bottomSideImg: 'offer-section-ltr-bottom-side-img.png'
  }
})

