include ../../mixins/offer-section

+offer-section({
  title: 'Флористический брендинг',
  cls: 'offer-section--decorated',
  subtitle: 'Расскажите о своей компании на языке цветов!',

  description: [
    'Мы разработаем для вас индивидуальные цветочные композиции в соответствии c цветовыми и ценностными атрибутами вашего бренда для оформления зон ресепшн, переговорных, корпоративных подарков и мероприятий, а также для любых других случаев.',
  ],

  offerBtn: {
    type: 'button',
    text: 'Заказать брендинг',
    icon: 'icon-label.svg'
  },

  gallery: {
    mainImg: 'offer-section-ltr-main-img.png',
    topSideImg: 'offer-section-ltr-top-side-img.png',
    bottomSideImg: 'offer-section-ltr-bottom-side-img.png'
  }
})

