section
  .lw-container
    .content-block
      p НЕНУМЕРОВАННЫЙ СПИСОК
      ul
        each item,index in [1,2,3,4,5]
          li= 'элемент списка ' + index

      p НУМЕРОВАННЫЙ СПИСОК
      ol
        each item,index in [1,2,3,4,5]
          li= 'элемент списка ' + index

      h1 Заголовок 1-го уровня
      h2 Заголовок 2-го уровня
      h3 Заголовок 3-го уровня
      h4 Заголовок 4-го уровня
      h5 Заголовок 5-го уровня
      h6 Заголовок 6-го уровня

      p ПАРАГРАФ ТЕКСТА( tag "p")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nostrum eius saepe adipisci dolorum perspiciatis quam iure ipsum, ullam repellendus cupiditate veniam debitis, id dolorem quos vitae laborum, sit est.

      p ПРОСТО ТЕКСТ( tag "span")
      span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nostrum eius saepe adipisci dolorum perspiciatis quam iure ipsum, ullam repellendus cupiditate veniam debitis, id dolorem quos vitae laborum, sit est.


      p ТАБЛИЦА
      table
        thead
          tr
            td Поле 1
            td Поле 2
            td Поле 3
        tbody
          tr
            td Значение 1
            td Значение 2
            td Значение 3
          tr
            td Значение 1
            td Значение 2
            td Значение 3

      p Картинка обтекаемая справа
      .floated-content-block.floated-content-block--left
        img(src="./assets/img/mock/blog-img.png" alt="" width="559" height="488")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam hic necessitatibus fuga at molestiae ipsa suscipit est eius laudantium maxime nihil similique, corrupti veniam impedit quidem quam autem cum id.

      p Картинка обтекаемая слева
      .floated-content-block.floated-content-block--right
        img(src="./assets/img/mock/blog-img.png" alt="" width="440" height="480")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam hic necessitatibus fuga at molestiae ipsa suscipit est eius laudantium maxime nihil similique, corrupti veniam impedit quidem quam autem cum id.

