include ../../mixins/product-card

section.catalog-section.catalog-section--recommended
  .lw-container-fluid
    h2.lw-section-title Рекомендации флориста

    .sort-swiper-container
      .swiper.sort-swiper-slider
        .swiper-wrapper
          .swiper-slide
            a(href="#").active  Признания
          .swiper-slide
            a(href="#") 8 марта
          .swiper-slide
            a(href="#") День рождения
          .swiper-slide
            a(href="#") Розы
          .swiper-slide
            a(href="#") Все

    .swiper-container.swiper-container--offset-right
      .swiper.catalog-section-swiper
        .swiper-wrapper
          .swiper-slide
            +product-card({
              img: 'buket_1.png',
              imgW: '560',
              imgH: '640',
              title: 'Название букета',
              price: '5 000'
            })
          .swiper-slide
            +product-card({
              img: 'buket_2.png',
              imgW: '560',
              imgH: '640',
              title: 'Название букета длинно или очень длинное название букета',
              price: '640'
            })
          .swiper-slide
            +product-card({
              img: 'buket_1.png',
              imgW: '560',
              imgH: '640',
              title: 'Название букета длинно или очень',
              price: '14 000'
            })
          .swiper-slide
            +product-card({
              img: 'buket_2.png',
              imgW: '560',
              imgH: '640',
              title: 'Название',
              price: '135 000'
            })
          .swiper-slide
            +product-card({
              img: 'buket_2.png',
              imgW: '560',
              imgH: '640',
              title: 'Название',
              price: '135 000'
            })
          .swiper-slide
            +product-card({
              img: 'buket_2.png',
              imgW: '560',
              imgH: '640',
              title: 'Название',
              price: '135 000'
            })

      .swiper-controls
        .swiper-button-prev
        .swiper-button-next
