.footer {
  padding: clamp(35px, 5vw, 90px) 0;
  background-color: var(--danger);

  @include m-b-laptop-down {
    margin-bottom: 60px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;

    @include m-b-down(960px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include m-b-down(640px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      grid-gap: 15px;
    }
  }

  &__section {
    @extend .flex-column;
    grid-row: 1/5;

    @include m-b-down(640px) {
      align-items: center;
    }

    a {
      @extend .lw-footer-text;

      @extend .hover-opacity;
      width: fit-content;
    }

    &--logo {
      .footer-logo {
        margin-bottom: clamp(10px, 1.3vw, 30px);
        max-width: clamp(110px, 15vw, 270px);
        min-height: 30px;

        @include m-b-down(640px) {
          margin: 0 auto;

          max-width: 240px;
          margin-bottom: 10px;
        }
      }

      span {
        display: inline-block;
        @extend .lw-footer-text;
        margin-bottom: 8px;

        @include m-b-down(960px) {
          margin-bottom: 4px;
        }
      }

      *:not(.footer-logo):not(.footer-logo img) {
        padding-left: clamp(0px, 4vw, 80px);

        @include m-b-down(1280px) {
          padding-left: 0;
        }
      }

      @include m-b-down(960px) {
        grid-column: 1/2;
        margin-bottom: 20px;
      }
    }

    &--info {
      @include m-b-down(640px) {
        margin-bottom: 20px;
      }
    }

    &--contacts {
      grid-row: 1/4;

      a[href^="tel:"] {
        font-family: var(--secondary-font);
        font-size: clamp(20px, 2vw, 24px);
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 8px;
        padding: 8px 0;

        @include m-b-down(960px) {
          padding: 4px 0;
          margin-bottom: 4px;
        }
      }

      small {
        display: inline-block;
        @extend .lw-footer-text;
        margin-bottom: 10px;

        @include m-b-down(960px) {
          margin-bottom: 4px;
        }
      }

      @include m-b-down(960px) {
        grid-row: 1/3;
        grid-column: 3/4;
      }
    }

    // &--address {
    //   grid-row: 2/3;

    //   address {
    //     font-style: normal;
    //     @extend .lw-footer-text;
    //     max-width: 260px;
    //   }

    //   @include m-b-down(960px) {
    //     grid-row: 3/4;
    //     grid-column: 3/4;
    //   }
    // }

    &--social {
      grid-row: 4/5;
    }

    // &--dev {
    //   grid-row: 4/5;

    //   @include m-b-down(960px) {
    //     grid-column: 1/2;
    //   }
    // }

    &-title {
      font-family: var(--secondary-font);
      font-size: clamp(16px, 1.5vw, 18px);
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: clamp(8px, 1.2vw, 18px);
      min-height: 30px;

      color: var(--white);
    }
  }
}

.footer-nav {
  &__list {
    @extend .list-reset;
    @extend .flex-column;
    margin-left: -12px;
    margin-right: -12px;
  }

  &__list-item {
    a {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      @extend .lw-footer-text;

      @include m-b-down(960px) {
        padding: 4px 12px;
      }

      @include m-b-down(640px) {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }
    }
  }
}

.developer-link {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    max-width: clamp(100px, 15vw, 200px);
    object-fit: contain;
  }

  @include m-b-down(640px) {
    margin-top: 30px;
    img {
      max-width: 100%;
      max-height: 40px;
    }
  }
}
