.catalog-section {
  @extend .lw-section-offset;

  .lw-section-title {
    margin-bottom: clamp(30px, 5.2vw, 60px);
  }

  &--recommended {
    .swiper-slide {
      width: calc(100% / 3);
      max-width: 415px;
      height: auto;
    }

    .lw-container-fluid {
      padding-left: 0;
      padding-right: 0;

      @include m-b-mobile-lg-down {
        padding: 0 var(--container-offset);
      }
    }
  }
}

.swiper-container {
  position: relative;

  &--offset-right {
    padding-right: 200px;

    @include m-b-laptop-down {
      padding-right: clamp(10px, 2.5vw, 100px);
    }

    @include m-b-tablet-down {
      padding-left: clamp(10px, 2.5vw, 100px);
    }

    @include m-b-mobile-lg-down {
      padding: 0;
    }

    .swiper-controls {
      position: absolute;
      top: 35%;
      right: 60px;
      transform: translateY(-100%);

      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: space-between;

      width: 120px;
      height: auto;
      z-index: 10;

      transform: rotate(180deg);

      .swiper-button-next,
      .swiper-button-prev {
        position: relative;
        top: unset;
        right: unset;
        left: unset;
        bottom: unset;
        margin: 0;
      }

      @include m-b-laptop-down {
        display: none;
      }
    }
  }
}

.swiper-slide {
  border-radius: 10px;
  height: auto;
}

.swiper-button-next,
.swiper-button-prev {
  @extend .flex-centered-content;

  width: 40px;
  height: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::before,
.swiper-button-prev::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  background-image: url("../assets/img/icon-slider-arr.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev::before {
  transform: translate(-50%, -50%) rotate(180deg);
}
