.page-top-section {
  padding: clamp(25px, 2.2vw, 32px) 0;
  margin-bottom: clamp(20px, 7vw, 80px);
  background-color: var(--page-top-section-bg);

  .breadcrumbs {
    margin-bottom: 16px;
  }

  .lw-section-title {
    margin: 0;
  }
}
