.catalog-tile-card {
  &__top {
    position: relative;
    margin-left: clamp(65px, 9vw, 80px);
  }

  &-square {
    &-box {
      position: absolute;
      bottom: clamp(10px, 1.2vw, 15px);
      left: clamp(10px, 1.2vw, 15px);
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    width: 10px;
    height: 10px;
    background-color: var(--white);
  }

  img {
    display: block;
    width: 100%;
    max-width: 316px;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  &__title {
    position: relative;

    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(20px, 2.6vw, 24px);
    text-transform: uppercase;
    padding-left: clamp(10px, 1.2vw, 15px);
    padding-top: clamp(10px, 1.2vw, 10px);
    margin-top: auto;
    margin-bottom: 0;
    color: var(--black);

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: clamp(50px, 7vw, 65px);
      height: clamp(120px, 15vw, 150px);
      background-color: var(--secondary);
      z-index: -1;
    }
  }
}
