.header-simple-nav {
    margin-right: auto;
    
    &__list {
        @extend .list-reset;
        @extend .flex-wrap;
        align-items: center;
        margin: 0 -20px;
    }

    &__list-item {
        padding: 10px 20px;

        a {
            font-weight: 300;
            color: var(--info);
            @extend .hover-opacity;
        }
    }
}