.main-btn {
  @extend .btn-reset;
  @extend .flex-centered-content;

  width: 100%;
  max-width: 100%;
  height: fit-content;
  min-height: 48px;
  @extend .lw-text-uppercase;
  font-size: 16px;
  line-height: 1.2;
  padding: 6px 16px;
  border-radius: 30px;
  color: var(--white);
  background-color: var(--primary);

  img {
    margin-right: 10px;
    object-fit: contain;
  }
}
