.main-btn {
  @extend .btn-reset;
  @extend .flex-centered-content;

  width: 100%;
  max-width: fit-content;
  @extend .lw-text-uppercase;
  font-size: 18px;
  line-height: 1;
  padding: 14px 24px;
  border-radius: 30px;
  color: var(--white);
  background-color: var(--primary);

  img {
    margin-right: 10px;
  }
}
