.main-input {
  @extend .input-reset;

  width: 100%;
  max-width: 100%;
  min-height: 48px;

  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;

  padding: 14px 22px 10px;
  border: 1px solid transparent;
  border-radius: 30px;
  color: var(--dark);
  background-color: var(--main-input-bg);

  &::placeholder {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    color: var(--main-input-placeholder);
  }

  &.invalid-control {
    border-color: var(--primary);
    color: var(--primary);
  }
}
