.offer-badge {
    position: relative;
  
    display: flex;
    align-items: center;
  
    font-size: 16px;
    font-weight: 300;
  
    padding: clamp(20px, 1.4vw, 30px) clamp(20px, 1.4vw, 35px);
    padding-right: 70px;
    border-radius: 10px;
    color: var(--black);
    background-color: rgba(161, 201, 130, .2);
  
    img {
      width: 42px;
      height: 40px;
      object-fit: contain;
      margin-right: 15px;
    }
  
    &::after {
      position: absolute;
      top: 50%;
      right: 35px;
      transform: translateY(-50%);
  
      width: 20px;
      height: 20px;
      content: '';
  
      background-image: url("../assets/img/icon-arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
}