.personal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  @include m-b-laptop-down {
    padding: 10px 30px;
    justify-content: space-around;
  }
  button {
    @extend .btn-reset;
  }

  & > *:not(:last-child) {
    margin-right: 12px;

    @include m-b-laptop-down {
      margin: 6px;
    }
  }

  a,
  button {
    width: 40px;
    height: 40px;
    @extend .flex-centered-content;

    svg {
      fill: #c0c0c0;
      transition: fill var(--main-transition);

      @include m-b-laptop-down {
        fill: var(--white);
      }

      &:hover,
      &:focus {
        fill: var(--black) !important;
      }
    }
  }
}

.cart-link {
  position: relative;

  &--filled svg {
    fill: var(--black) !important;

    @include m-b-laptop-down {
      fill: var(--white) !important;
    }
  }

  &-count {
    position: absolute;
    // top: -6px;
    // left: calc(100% + -14px);
    @extend .flex-centered-content;
    // font-size: 12px;
    // line-height: 1;
    // text-align: center;
    // width: fit-content;
    // min-width: 21px;
    // height: fit-content;
    // min-height: 21px;
    border-radius: 50%;
    // color: var(--white);
    // background-color: var(--primary);
    width: 6px;
    height: 6px;
    min-height: 6px;
    min-width: 6px;
    background-color: var(--primary);
    top: 5px;
    right: 5px;

    @include m-b-laptop-down {
      // color: var(--black);
      background-color: var(--white);
    }

    &-hidden {
      display: none;
    }
  }
}
