.personal {
  display: flex;
  align-items: center;
  width: 100%;

  a {
    width: 40px;
    height: 40px;
    @extend .flex-centered-content;
    &:not(:last-child) {
      margin-right: auto;
    }
  }
}
