.product-item-slider-container {
  display: flex;
  align-items: center;
  column-gap: clamp(10px, 1.3vw, 20px);

  overflow: hidden;

  width: 100%;
  height: fit-content;

  .swiper {
    margin: 0;
    cursor: pointer;
  }

  .swiper-slide {
    overflow: hidden;
    background-color: var(--light);
    max-height: 720px;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 1 / 1.1;
    }
  }
}

.product-item-slider {
  order: 2;
  width: calc(80% - clamp(10px, 1.3vw, 20px));

  .product-card-badge {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 10;
    font-size: 24px;
  }

  .swiper-slide {
    width: 100%;
    border-radius: 20px;
  }

  &-navigation {
    position: absolute;
    bottom: 40px;
    right: 40px;
    height: 40px;
    width: 100%;
    max-width: 160px;

    z-index: 10;
  }
}

.product-item-thumbslider {
  width: 20%;
  height: 33vw;
  order: 1;
  max-height: 600px;

  .swiper-slide {
    opacity: 0.6;
    border-radius: 10px;

    &-thumb-active {
      opacity: 1;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
