.product-item-slider-container {
  display: flex;
  align-items: center;
  height: auto;
  max-height: 800px;
  overflow: hidden;
}

.product-item-slider {
  order: 2;
  width: calc(100% - 145px);
  max-width: 50vw;
  height: auto;
  max-height: 55vw;

  .swiper-slide {
    width: 100%;
    background-color: #e4e4e4;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.product-item-thumbslider {
  width: 125px;
  height: fit-content;
  max-height: 55vw;
  order: 1;

  .swiper-slide {
    opacity: 0.6;
    width: 125px;
    height: 140px !important;

    &-thumb-active {
      opacity: 1;
    }
  }
}

