.product-card {
  @extend .flex-column;
  width: 100%;
  max-width: 560px;
  height: 100%;

  // &:hover {
  //   .show-btn,
  //   .favourite-btn {
  //     opacity: 1;
  //   }
  // }

  &__top {
    position: relative;

    & > img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 1/1.13;
      border-radius: 10px;
    }
  }

  &__top-left {
    position: absolute;
    top: clamp(10px, 1.3vw, 30px);
    left: clamp(10px, 1.3vw, 30px);
    @extend .flex-column;
    gap: clamp(10px, 1vw, 18px);
    height: calc(100% - (clamp(10px, 1.3vw, 30px) * 2));
  }

  &__top-right {
    position: absolute;
    top: clamp(10px, 1.3vw, 30px);
    right: clamp(10px, 1.3vw, 30px);
    @extend .flex-column;
    gap: clamp(10px, 1vw, 18px);
    height: calc(100% - (clamp(10px, 1.3vw, 30px) * 2));

    .add-to-cart-btn {
      margin-top: auto;
    }
  }

  &__bottom {
    @extend .flex-column;
    flex-grow: 1;
    padding: 10px 0;
  }

  &__title {
    font-size: clamp(14px, 2.7vw, 20px);
    font-weight: 300;
    margin: 0;
    margin-bottom: clamp(6px, 1.3vw, 12px);

    @include text-truncate(2);
  }

  &__price {
    display: inline-block;
    font-size: clamp(22px, 3.4vw, 30px);
    font-weight: 700;

    &-container {
      margin-top: auto;
    }

    span {
      font-size: clamp(14px, 2.7vw, 20px);
      font-weight: 300;
    }

    &--old,
    &--old span {
      font-size: 14px;
      text-decoration: line-through;
      color: var(--info);
      font-weight: 400;
    }
  }
}
