section.contacts
  .lw-container
    .contacts__grid
      .contacts__grid-section
        .contacts-block
          .contacts-block__section
            span.contacts-block__section-title Телефон для связи:
            a(href="#") +7 985 988 888 8

          .contacts-block__section
            span.contacts-block__section-title E-mail:
            a(href="#") yuriybevov@gmail.com

          .contacts-block__section
            span.contacts-block__section-title Адрес:
            span Москва, Пресненская набережная д.12, Башня «Федерация» - 2 этаж

          .contacts-block__section
            span.contacts-block__section-title Время работы:
            span Без выходных с 10:00 до 20:00

          .contacts-block__section.contacts-block__section--requisites
            span.contacts-block__section-title Реквизиты:

            small <strong>Индивидуальный предприниматель Кравцова Вера Андреевна</strong><br>
              | Свидетельство о государственной регистрации ИП №42002165355&nbsp;от&nbsp;25.12.2002<br>
              | Адрес регистрации: 652401, Кемеровская область- Кузбасс, г. Тайга, 40 лет Октября д. 28<br>
              | ИНН 424750039264<br>
              | ОГРН 304424725100050<br>
              | КНО 4246<br>

              | <strong>Банк:</strong><br>
              | Кемерово, Октябрьский пр-т, 53, КЕМЕРОВСКОЕ ОТДЕЛЕНИЕ N8615 ПАО СБЕРБАНК<br>
              | БИК: 043207612<br>
              | р/с: 40802810926120101723<br>
              | к/с: 30101810200000000612<br>

      .contacts__grid-section
        .contacts__map
          <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa481feb5677a0a945c4c94d4b1fac8ffc7b475faa1183547b99601068a498142&amp;source=constructor" width="900" height="600" frameborder="0"></iframe>
