.product-item {
  &-container {
    display: flex;
    column-gap: clamp(25px, 3.2vw, 65px);
    margin-bottom: 60px;

    @include m-b-tablet-down {
      flex-direction: column;
      gap: 30px;
    }
  }

  &-section {
    width: 50%;
    height: fit-content;
    position: sticky;
    top: 160px;

    @include m-b-tablet-down {
      position: static;
      top: 0;
      width: 100%;
    }
  }

  &-description {
    font-size: clamp(14px, 1.4vw, 18px);
    font-weight: 300;

    width: 100%;
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;

    padding: clamp(20px, 1.6vw, 40px);
    margin-top: 30px;
    margin-left: auto;

    border-radius: 10px;
    background-color: var(--secondary);
  }
}

.product-item-info-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: clamp(20px, 3vw, 60px);

  @include m-b-down(1140px) {
    grid-template-columns: 1fr;
  }

  &-field {
    &-title {
      font-family: var(--secondary-font);
      font-size: clamp(18px, 1.5vw, 20px);
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    &-content {
      @extend .flex-column;
      font-weight: 300;
      font-size: 16px;
      color: var(--info);

      ul {
        @extend .list-reset;

        li {
          display: flex;
          justify-content: space-between;
          gap: 20px;

          &:not(:last-child) {
            margin-bottom: 10px;
          }

          span:first-child {
            width: 70%;
          }

          span:last-child {
            width: calc(30% - 20px);
            text-align: end;
            white-space: nowrap;

            strong {
              font-weight: 700;
              margin: 0 5px;
            }
          }
        }
      }

      .offer-badge:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.product-item-pay-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin: 60px 0;

  form {
    display: flex;
    gap: 10px;
    flex-grow: 1;
  }

  .product-item-price {
    @extend .flex-column;

    @media (min-width: 768px) and (max-width: 1023px) {
      width: 100%;
    }

    @include m-b-mobile-lg-down {
      width: 100%;
    }

    &-old {
      color: var(--lightgray);
      text-decoration: line-through;
    }

    &-current {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 20px;
      line-height: 1;

      strong {
        font-weight: 600;
        font-size: clamp(30px, 3vw, 40px);
      }
    }
  }

  .product-item-cart-add-btn {
    flex-grow: 1;
    width: auto;
    min-height: 44px;
    min-width: 120px;
    max-width: 200px;

    svg {
      fill: var(--white);
      margin-right: 12px;
    }

    @include m-b-mobile-lg-down {
      min-height: 44px;
      svg {
        margin: 0;
      }
      span {
        display: none;
      }
    }
  }

  .product-item-favourite-btn {
    @extend .btn-reset;
    @extend .flex-centered-content;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f2f3f6;
  }
}

.product-item-additional-block {
  &-field {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .delivery-info-block {
    border-radius: 10px;
    background-color: var(--secondary);

    a {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      padding: 30px clamp(30px, 5vw, 50px);

      span {
        font-size: 16px;
        color: var(--black);
      }

      img {
        width: 22px;
        height: auto;
        object-fit: contain;
        margin-right: 20px;
      }

      &::after {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        content: "";
        width: 24px;
        height: 24px;
        background-image: url("../assets/img/icon-plus.svg");
      }
    }
  }
}
