.lw {
  &-container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
  }

  &-container-fluid {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-fluid-offset);
    max-width: var(--container-fluid-width);
  }

  //-- font styles --//

  &-section-title {
    font-family: var(--secondary-font);
    font-size: 52px;
    @extend .lw-text-normal;
    text-transform: uppercase;

    @extend .lw-text-accent;
  }

  &-main-text {
    font-size: clamp(16px, 1.5vw, 20px);
    color: var(--main-text-color);
  }

  &-text-accent {
    color: var(--primary);
  }

  &-text-light {
    font-weight: 300;
  }

  &-text-normal {
    font-weight: 400;
  }

  &-text-medium {
    font-weight: 500;
  }

  &-text-semi {
    font-weight: 600;
  }

  &-text-bold {
    font-weight: 700;
  }
  &-text-uppercase {
    text-transform: uppercase;
  }
  //-- font styles end--//
}
