.lw {
  &-container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
  }

  &-container-fluid {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-fluid-offset);
    max-width: var(--container-fluid-width);
  }

  //-- section styles --//

  &-section-offset {
    padding: clamp(30px, 5.2vw, 80px) 0;
  }

  //-- font styles --//

  &-section-header-container {
    position: relative;
    @extend .flex-centered-content;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 200px;

    @include m-b-tablet-down {
      padding: 0;
    }

    .lw-section-title {
      text-align: center;
    }

    .main-btn {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      max-width: fit-content;

      @include m-b-tablet-down {
        display: none;
      }
    }
  }

  &-section-title {
    font-family: var(--secondary-font);
    font-size: clamp(22px, 5vw, 52px);
    @extend .lw-text-normal;
    text-transform: uppercase;
    text-align: center;
    padding: 0 10px;

    &--xl {
      font-size: clamp(24px, 4.4vw, 60px);
    }

    &--md {
      font-size: clamp(20px, 4.4vw, 38px);
    }

    &--sm {
      font-size: clamp(18px, 2.6vw, 28px);
    }
  }

  &-accent-color {
    @extend .lw-text-accent;
  }

  &-main-text {
    font-size: clamp(16px, 1.5vw, 20px);
    color: var(--main-text-color);
  }

  &-footer-text {
    font-size: clamp(12px, 1.4vw, 16px);
    font-weight: 300;
    color: var(--secondary);
  }

  &-text-accent {
    color: var(--primary);
  }

  &-text-light {
    font-weight: 300;
  }

  &-text-normal {
    font-weight: 400;
  }

  &-text-medium {
    font-weight: 500;
  }

  &-text-semi {
    font-weight: 600;
  }

  &-text-bold {
    font-weight: 700;
  }
  &-text-uppercase {
    text-transform: uppercase;
  }
  //-- font styles end--//

  /* controls */
  &-product-card-btn {
    @extend .flex-centered-content;
    @extend .btn-reset;
    width: clamp(32px, 5.2vw, 50px);
    height: clamp(32px, 5.2vw, 50px);

    img,
    svg {
      width: clamp(16px, 2.6vw, 24px);
      height: clamp(16px, 2.6vw, 24px);
    }

    border-radius: 50%;

    background-color: #fffaf8;
    @include m-b-laptop-up {
      opacity: 0.3;
    }
    transition: opacity var(--main-transition);

    @include m-b-mobile-lg-up {
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}
