button(type="button" aria-label="Добавить в корзину").add-to-cart-btn
  img(src="./assets/img/icon-cart.svg" alt="Купить" width="24" height="24")
  //svg(width="24" height="24")
    use(xlink:href="./assets/sprite.svg#icon-cart")
