.blog-card
  img(src="./assets/img/mock/blog-preview-image-middle_1.png" alt="").blog-card-image

  .blog-card-content
    .blog-card-title заголовок
    .blog-card-date 07 февраль 2025
    .blog-card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores saepe, tempore sint sequi repudiandae autem, ipsam quod, quo commodi dolores veniam obcaecati dicta numquam culpa impedit iste iusto quidem voluptatum!

    a(href="#").blog-card-more-btn Подробнее
