<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
  <ul class="breadcrumbs__list">
    <li class="breadcrumbs__list-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="/" title="Главная страница" itemprop="item">
        <span itemprop="name">Главная</span>
      </a>
      <meta itemprop="position" content="1">
    </li>

    <li class="breadcrumbs__list-item">
      <span>Цены</span>
    </li>
  </ul>
</div>
