a(href="#").catalog-tile-card
    .catalog-tile-card__header
        img(src="./assets/img/mock/catalog-tile-img.png" alt="" width="316" height="316")

    .catalog-tile-card__bottom
        h2.catalog-tile-card__title День учителя