a(href="#").catalog-tile-card
    .catalog-tile-card__top
    .catalog-tile-card__top
        img(src="./assets/img/mock/catalog-tile-img.png" alt="" width="316" height="316")

    h2.catalog-tile-card__title День учителя