.header-social
  ul.header-social__list
    li.header-social__list-item
      a(href="#")
        img(src="./assets/img/whapp-icon.svg" alt="whatsapp" width="28" height="28")
    li.header-social__list-item
      a(href="#")
          img(src="./assets/img/tg-icon.svg" alt="telegram" width="28" height="28")

