.header-top-nav
  ul.header-top-nav__list
    li.header-top-nav__list-item
      a(href="#") О нас
    li.header-top-nav__list-item
      a(href="#") Доставка и оплата
    li.header-top-nav__list-item
      a(href="#") Блог
    li.header-top-nav__list-item
      a(href="#") Контакты
