.header-social
    ul.header-social__list
        li.header-social__list-item
            a(href="#") 
                img(src="./assets/img/whatsapp-icon.png" alt="whatsapp" width="40" height="40")
        li.header-social__list-item
            a(href="#") 
                img(src="./assets/img/tg-icon.png" alt="telegram" width="40" height="40")