.header-simple-nav
    ul.header-simple-nav__list
        li.header-simple-nav__list-item
            a(href="#") О нас
        li.header-simple-nav__list-item
            a(href="#") Доставка и оплата
        li.header-simple-nav__list-item
            a(href="#") Блог
        li.header-simple-nav__list-item
            a(href="#") Контакты