.personal
    a(href="#")
      svg(width="24" height="20")
        use(xlink:href="./assets/sprite.svg#icon-user")
    a(href="#").cart-link.cart-link--filled
      span.cart-link-count 15
      svg(width="20" height="20")
        use(xlink:href="./assets/sprite.svg#icon-cart")
    a(href="#")
      svg(width="22" height="20")
        use(xlink:href="./assets/sprite.svg#icon-heart")
    button.search-block-opener
      svg(width="20" height="20")
        use(xlink:href="./assets/sprite.svg#icon-search")
