a(href="#" aria-label="Смотреть").show-btn
  img(src="./assets/img/icon-more.svg" alt="Далее" width="24" height="24")
  //svg(width="24" height="24")
    use(xlink:href="./assets/sprite.svg#icon-arrow-r")
