.personal
    a(href="#")
        img(src="./assets/img/icon-user.png" alt="" width="22" height="22")
    a(href="#")
        img(src="./assets/img/cart-icon.png" alt="" width="22" height="22")
    a(href="#").cart-link
        img(src="./assets/img/heart-icon.png" alt="" width="22" height="22")
    a(href="#")
        img(src="./assets/img/search-icon.png" alt="" width="22" height="22")
