extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include ./sections/common/page-top-section
  include ./sections/catalog/catalog-tile
  include ./sections/catalog/catalog

block modals
  //include ./modals/...
