extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include ./sections/index-page/intro
  include ./sections/index-page/features
  include ./sections/common/catalog-top
  include ./sections/common/recomendations
  include ./sections/index-page/about
  include ./sections/common/subscribe

block modals
  //include ./modals/...
