.catalog {
  &-section {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: clamp(70px, 15vw, 168px);
      content: "";
      background-color: #a1c982;
    }
  }

  &-section-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 20px;

    @include m-b-laptop-down {
      grid-template-columns: repeat(3, 1fr);
    }

    @include m-b-down(620px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include m-b-down(400px) {
      grid-template-columns: 1fr;
    }
  }
}
