.catalog-tile {
  @extend .lw-section-offset;
  margin-bottom: clamp(40px, 10vw, 150px);

  &--no-margin-bottom {
    margin-bottom: 0;
  }

  ul {
    @extend .list-reset;
    @extend .flex-wrap;
    justify-content: center;
    gap: clamp(25px, 4.2vw, 60px) 20px;

    li {
      width: 100%;
      max-width: 260px;
    }
  }
}
