mixin main-btn(data)
  if data.type == "button"
    button(type="button" class= data.cls ? data.cls : null data-modal-anchor= data.modal).main-btn
      if data.icon
        img(src=`./assets/img/${data.icon}` alt="Иконка кнопки" width="20" height="20")

      span!= data.text
