section.proposal
  .lw-container-fluid
    .proposal__grid
      .proposal__grid-section
        h2.lw-section-title.lw-section-title--xl.proposal__title Умножаем счастье,<br> с каждым букетом!

        ul.proposal__list
          li.proposal__list-item
            img(src="./assets/img/mock/icon-hand.svg" alt="" width="50" height="50")
            span Цветы - неотъемлемый атрибут любого праздника. Создайте настроение для коллег и партнеров c помощью свежих благоухающих цветочных композиций!

          li.proposal__list-item
            img(src="./assets/img/mock/icon-pots.svg" alt="" width="50" height="50")
            span Мы предложим оптимальный вариант упаковки и корпоративного брендинга, доставим всю партию букетов в ваш офис или организуем адресную доставку композиций по Москве непосредственным получателям.

          li.proposal__list-item
            img(src="./assets/img/mock/icon-flowers.svg" alt="" width="50" height="50")
            span Кроме того, вы можете воспользоваться нашими креативными решениями доставки и создать ощущение праздника ещё до вручения букета, повышая тем самым уровень вовлеченности и умножая впечатления от подарка.

      .proposal__grid-section.proposal__grid-section--lined
        img(src="./assets/img/mock/proposal-img.png" alt="" width="800" height="800")
