include ../../mixins/blog-preview-card

section.blog-preview
  .lw-container
    h2.lw-section-title Блог

    .swiper-container
      .swiper.blog-preview-slider
        .swiper-wrapper
          each item in [1,2,3,4,5]
            .swiper-slide
              +blog-preview-card({
                imgLeftPath: '/mock/blog-preview-image-left_1.png',
                imgMiddlePath: '/mock/blog-preview-image-middle_1.png',
                title: 'Цветы – это истинные символы любви, и поэтому они являются идеальным подарком',
                date: '18 янв. 2024 г.',
                text: 'Вы можете дарить цветы кому угодно почти по любому поводу, потому что они являются всеобщими любимыми. Независимо от того, можете ли вы поздравить своего друга с Днем Рождения или почтить память своей матери в День матери, букет цветов никогда не может быть неправильным.'
              })

      .swiper-pagination

      .swiper-button-next.blog-preview-slider-btn-next
      .swiper-button-prev.blog-preview-slider-btn-prev

