section.clients
  .lw-container.clients__container
    h2.lw-section-title.lw-section-title--md Корпоративные клиенты

    ul.clients__list
      li.clients__list-item
        img(src="./assets/img/mock/client_1.png" alt="client" width="150" height="100")
      li.clients__list-item
        img(src="./assets/img/mock/client_2.png" alt="client" width="150" height="100")
      li.clients__list-item
        img(src="./assets/img/mock/client_3.png" alt="client" width="150" height="100")
      li.clients__list-item
        img(src="./assets/img/mock/client_4.png" alt="client" width="150" height="100")
      li.clients__list-item
        img(src="./assets/img/mock/client_5.png" alt="client" width="150" height="100")
      li.clients__list-item
        img(src="./assets/img/mock/client_6.png" alt="client" width="150" height="100")
      li.clients__list-item
        img(src="./assets/img/mock/client_1.png" alt="client" width="150" height="100")
      li.clients__list-item
        img(src="./assets/img/mock/client_2.png" alt="client" width="150" height="100")
      li.clients__list-item
        img(src="./assets/img/mock/client_3.png" alt="client" width="150" height="100")
      li.clients__list-item
        img(src="./assets/img/mock/client_4.png" alt="client" width="150" height="100")
      li.clients__list-item
        img(src="./assets/img/mock/client_5.png" alt="client" width="150" height="100")
      li.clients__list-item
        img(src="./assets/img/mock/client_6.png" alt="client" width="150" height="100")

