section.product-item
  .lw-container.product-item-container
    .product-item-section
      .product-item-slider-container

        .swiper.product-item-slider
          .swiper-wrapper
            .swiper-slide
              img(src="./assets/img/mock/buket_1.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_2.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_1.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_2.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_1.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_2.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_1.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_2.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_1.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_2.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_1.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_2.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_1.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_2.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_1.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_2.png" alt="" width="700" height="770")

          .swiper-button-prev
          .swiper-button-next

        .swiper.product-item-thumbslider(thumbsSlider="")
          .swiper-wrapper
            .swiper-slide
              img(src="./assets/img/mock/buket_1.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_2.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_1.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_2.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_1.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_2.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_1.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_2.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_1.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_2.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_1.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_2.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_1.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_2.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_1.png" alt="" width="700" height="770")
            .swiper-slide
              img(src="./assets/img/mock/buket_2.png" alt="" width="700" height="770")

      .product-item-description
        p Вы можете дарить цветы кому угодно почти по любому поводу, потому что они являются всеобщими любимыми. Независимо от того, можете ли вы поздравить своего друга с Днем Рождения или почтить память своей матери в День матери, букет цветов никогда не может быть неправильным.

    .product-item-section
      .product-item-info-block
        .product-item-info-block-field
          .product-item-info-block-field-title Размер
          .product-item-info-block-field-content
            span 12 × 35 × 40 см

        .product-item-info-block-field
          .product-item-info-block-field-title Вид упаковки
          .product-item-info-block-field-content
            span Корзина
        .product-item-info-block-field
          .product-item-info-block-field-title Состав букета
          .product-item-info-block-field-content
            ul
              li
                span Розы
                span 15 шт.
              li
                span Хризантемы
                span 15 шт.
              li
                span Тюльпаны
                span 15 шт.
              li
                span Розы
                span 15 шт.
        .product-item-info-block-field
          .product-item-info-block-field-title Добавить к букету
          .product-item-info-block-field-content
            a(href="#") Дизайнерские топеры и открытки
            a(href="#") Эксклюзивные аксессуары и сладости
      .product-item-pay-block
        p корзина
      .product-item-additional-block
        .product-item-additional-block-field
          .dropdown-block
            p deliv info
        .product-item-additional-block-field
          p delivery 2

