section.blog
  .lw-container
    ul.blog__list
      li.blog__list-item
        include ../../components/blog-card
      li.blog__list-item
        include ../../components/blog-card
      li.blog__list-item
        include ../../components/blog-card
      li.blog__list-item
        include ../../components/blog-card
      li.blog__list-item
        include ../../components/blog-card
