nav.main-nav
    ul.main-nav__list
        li.main-nav__list-item
            a(href="#") Повод
        li.main-nav__list-item
            a(href="#") Цветы
        li.main-nav__list-item
            a(href="#") Композиции
        li.main-nav__list-item
            a(href="#") Доставка и оплата
        li.main-nav__list-item
            a(href="#") Букеты
        li.main-nav__list-item
            a(href="#") Акции
        li.main-nav__list-item
            a(href="#") Аксессуары
        li.main-nav__list-item
            a(href="#") Корпоративным клиентам
