include ../mixins/main-btn

main-header.main-header
  .lw-container.main-header__container
    .main-header__section.main-header__section--top-nav
      include ../components/header-top-nav
    .main-header__section.main-header__section--workflow
      .main-header__workflow Без выходных с 10:00 до 20:00
    .main-header__section.main-header__section--phone
      a(href="tel:+71234567890").main-phone +7 123 456 78 90
    .main-header__section.main-header__section--social
      include ../components/header-social
    .main-header__section.main-header__section--offer
      +main-btn({
        type: 'button',
        icon: 'phone-icon.svg',
        text: 'Обратный звонок',
        cls: 'main-header__callback-btn'
      })
    .main-header__section.main-header__section--logo
      a(href="#" aria-label="Цвет Счастья")
        img(src="./assets/img/logo-black.svg" alt="Логотип" width="270" height="60")
    .main-header__section.main-header__section--nav
      include ./main-nav
    .main-header__section.main-header__section--personal
      include ../components/personal
