section.catalog-tile
  .lw-container
    h2.lw-section-title Подарки и позравления

    ul
      li
        include ../../components/catalog-tile-card
      li
        include ../../components/catalog-tile-card
      li
        include ../../components/catalog-tile-card
      li
        include ../../components/catalog-tile-card
      li
        include ../../components/catalog-tile-card
