section.catalog-tile
    .lw-container
        ul
            li
                include ../../components/catalog-tile-card
            li
                include ../../components/catalog-tile-card
            li
                include ../../components/catalog-tile-card
            li
                include ../../components/catalog-tile-card
            li
                include ../../components/catalog-tile-card
