include ../../mixins/product-card

section.catalog
  .lw-container
    h2.lw-section-title Выбрать букет
  <div class="catalog-wrapper" data-entity="container-1">
    <div class="catalog-section" data-entity="container-2">

      .lw-container
        <div class="catalog-section-grid">
          +product-card({
            img: 'buket_1.png',
            imgW: '560',
            imgH: '640',
            title: 'Название букета',
            price: '5 000'
          })
          +product-card({
            img: 'buket_1.png',
            imgW: '560',
            imgH: '640',
            title: 'Название букета',
            price: '5 000'
          })
          +product-card({
            img: 'buket_1.png',
            imgW: '560',
            imgH: '640',
            title: 'Название букета',
            price: '5 000'
          })
          +product-card({
            img: 'buket_1.png',
            imgW: '560',
            imgH: '640',
            title: 'Название букета',
            price: '5 000'
          })
          +product-card({
            img: 'buket_1.png',
            imgW: '560',
            imgH: '640',
            title: 'Название букета',
            price: '5 000'
          })
        </div>
    </div>
  </div>
