.features {
  padding-top: clamp(30px, 5vw, 100px);
  padding-bottom: clamp(30px, 2.5vw, 70px);
  margin-top: -3vw;

  @include m-b-desktop-lg-up {
    margin-top: -70px;
  }

  @include m-b-tablet-down {
    margin-top: calc(-6vw + -35px);
  }

  background-color: var(--secondary);

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5vw;

    @include m-b-up(1399px) {
      gap: 70px;
    }

    @include m-b-tablet-down {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    @include m-b-down(592px) {
      gap: 30px;
    }

    .square-box {
      margin-left: auto;
      margin-right: 30px;

      display: flex;
      align-items: center;
      gap: 4vw;

      @include m-b-up(1874px) {
        gap: 75px;
      }

      @include m-b-laptop-lg-down {
        flex-direction: column;
        margin-right: 60px;
      }

      @include m-b-tablet-down {
        flex-direction: row;
        margin-left: initial;
      }

      .square {
        background-color: rgba(178, 107, 114, 0.3);
      }
    }
  }

  &__list {
    @extend .list-reset;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    column-gap: 30px;
    row-gap: 20px;
    width: 65vw;
    max-width: 960px;

    @include m-b-tablet-down {
      width: 100%;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;

    img {
      height: fit-content;
      margin-right: clamp(5px, 2vw, 30px);
      object-fit: contain;

      width: clamp(28px, 8vw, 56px);
    }

    span {
      font-size: clamp(14px, 2.1vw, 20px);
    }
  }
}
