:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "KisCBT", sans-serif;

  --content-width: 1440px;
  --content-fluid-width: 1560px;
  --container-offset: clamp(10px, 2.1vw, 100px);
  --container-fluid-offset: clamp(10px, 2.1vw, 40px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(
    var(--content-fluid-width) + (var(--container-fluid-offset) * 2)
  );
}
