:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #333333;

  --primary: #841710;
  --secondary: #e8d3d5;
  --warning: #f7b249;
  --danger: #40242b;
  --success: #a1c982;
  // --error: ;
  --info: #5d5d5d;
  --light: #f5f5f5;
  --basic-gray: #9c9c9c;

  --main-input-bg: #fffaf8;
  --main-input-placeholder: #8f664e;
  --main-text-color: var(--black);
  --main-bg-color: var(--white);

  --main-scrollbar-color: var(--white);
}
